@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@400;600;800&display=swap');

* {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

.DateInput, .DateInput_1 {
    border-radius: 4px !important;
    width:100%;
    color:black !important;
}

.DateInput_input, .DateInput_input_1 {
    Height: 34px !important;
    Width: 100% !important;
    border-radius: inherit;
    font-size:0.9em;
    padding:5px;
}

.SingleDatePickerInput__withBorder {
    border-radius: 4px;
    border: 1px solid #ccc !important;
}